/*
	Author       : html.design
	Template Name: Wizard Form with Validation - Responsive
	Version      : 1.0
*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	background: url(../images/registrobackground.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
html {  
	-ms-overflow-style: scrollbar; 
}


.figures {
	
	display: flex
  width: 100vw;
 content: attr(data-description);
  text-align: center;
  
  vertical-align: middle;
 visibility: visible;
}
.figures figure {
	
  content: attr(data-description);
  
  width: 120px;
  height: 120px;
  position:relative;
  border-radius: 60px;
  margin: 20px;
  display: inline-block;
  border: 1px solid #fff;
  bottom: -20px;
  text-align: center;
  font-size: 13px;
  visibility: visible;
  


 
}


.figures figure:active {
    content: attr(data-description);
    background: #373737;
    border: 1px solid #8abd34;
    box-shadow: inset 0 0 0px 10px #8abd34;
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
}   

.figures figure:hover {
  content: attr(data-description);
  background: #373737;
  border: 1px solid #8abd34;
  box-shadow: inset 0 0 0px 10px #8abd34;
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}
.figures figure img.thumb {
 content: attr(data-description);
  border-radius: 60px;
  max-width: 100%;
  visibility: visible;
  
}
.figures figure:hover img.thumb {
content: attr(data-description);	
  border-radius: 60px;
  opacity: 0.2;
  filter: alpha(opacity=0);
  visibility: visible;
}
.figures figure:after {
  content: attr(data-description);
  margin: 0;
  width: 85px; /* optional use */
  display: block;
  font-family: 'Lato', sans-serif;
  position: absolute;
  color: #fff;
  bottom: -20px;
  text-align: center;
  font-size: 13px;
  background-color: #aaa;
  padding: 10px;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: visible;
}
.figures figure:hover::after {
content: attr(data-description);	
  visibility: visible;
  bottom: -45px;
  opacity:1;
}




.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
/*empresa persona*/


* {
  box-sizing: border-box;
}
main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 100px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  grid-gap: 1em;
}

article {
  border-radius: 10px;
  padding: 20px;
  color: #000;
}

article:nth-child(odd) {

}

article:nth-child(even) {

}


/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}












.alltrans,
a, 
input[type="button"], 
input[type="submit"], 
button, 
table th, 
table td,
.navigation-menu > li > a span:after,
.btn,
.btn:after,
.section-title:after,
.service-icon,
.owl-dot,
.owl-nav > div,
.blog-img img,
.owl-nav > div:before,
.portfolio-box:after,
.portfolio-box img,
.portfolio-content {	
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
a {
	color: #e52225;
	text-decoration: none;
}
a:hover, 
a:focus {
	color: #fff;
	outline: none;
	text-decoration: none;
}
button:hover, 
button:focus {
	outline: none;
}

.link-dark {
	color: #0f0f0f;	
}
.link-dark:hover, .link-dark:focus {
	color: #e52225;
	text-decoration: none;
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
a:active {
	background-color: transparent;
}
}
strong {
	font-weight: 700;
}
small, 
.small {
	font-size: 85%;
}
sub, 
sup {
	font-size: 80%
}
p {
	margin: 0 0 20px;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	
	font-weight: 700;
	color: #0f0f0f;

	font-family: 'lato', sans-serif;
}
h1, 
h2 {
	font-size: 60px;
}
h3 {
	font-size: 30px;
	font-weight: 600;
}
h4 {
	font-size: 24px;
	font-weight: 600;
}
h5 {
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 600;
}
h6 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}
html, body{
	height: 100%;
	width: 100%;
}


/*--- Login/Signup Modal ---*/


.wizard-main{
	padding: 30px 0px;
	position: relative;
}
.wizard-main .title-wb{
	text-align: center;
	font-size: 28px;
	text-transform: capitalize;
	margin-bottom: 30px;
	color: #ffffff;
	font-weight: 500;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
	top: 0px;
	left: 0px;
}

.carousel-inner{
	border-radius: 10px 0px 0px 10px;
	}
.carousel-caption{
	text-align:left; left:5%;
	}
.banner-sec{
	padding-right: 0px;
}
.banner-sec .carousel-inner .carousel-item img{
	width: 100%;
}
.banner-sec .carousel-indicators li{
	width: 6px;
	height: 6px;
	opacity: .5;
	border-radius: 3px;
	background-color: #bbb4b4;
	margin: 0px 15px;
}
.banner-sec .carousel-indicators li.active{
	width: 12px;
	height: 13px;
	border-radius: 6px;
	background-color: #83b834;
	position: relative;
	top: -4px;
	opacity: 1;
}
.carousel-item:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/pattern-1.png);
	width: 100%;
	height: 100%;
}

.login-sec{
	padding: 30px 30px; 
	background:#FFFFFF; 
	border-radius: 0px 10px 10px 0px;
	}
.login-sec-bg{
	position:relative;
	background:#FFFFFF; 
}
.login-sec .copy-text{
	position:absolute; 
	width:80%; 
	bottom:20px; 
	font-size:13px; 
	text-align:center;
	}
.login-sec .copy-text i{
	color:#FEB58A;
	}
.login-sec .copy-text a{
	color:#E36262;
	}
.login-sec h2{
	margin-bottom:30px; 
	font-weight: 600;
	font-size: 24px;
	color: #175a6b;
	}
.login-sec h2:after{
	content:" "; 
	width:100px; 
	height:5px; 
	background:#175a6b; 
	display:block; 
	margin-top:5px; 
	border-radius:3px; 
	margin-left:auto;
	margin-right:auto;
	}
.btn-login{
	background: #DE6262; 
	color:#fff; 
	font-weight:600;
	}
.banner-text{
	width:70%; 
	position:absolute; 
	bottom:40px; 
	padding-left:20px;
	}
.banner-text h2{
	color:#fff; 
	font-weight:600;
	font-size: 32px;
	}
.banner-text h2:after{
	content:" "; 
	width:100px; 
	height:5px; 
	background:#FFFFFF; 
	display:block; 
	margin-top:20px; 
	border-radius:3px;
	}
.banner-text p{
	color:#ffffff;
	font-size: 18px;
	line-height: 26px;
	}
.form-input h4{
	font-size: 18px;
	font-weight: 600;
}
.form-input .form-control{
	border-color: #70c232;
	border-radius: 0;
	box-shadow: 0 0 14px rgba(131, 184, 52, 0.16);
	font-size: 13px;
	padding: 5px 20px;
}
	
	
	
.wizard,.tabcontrol{
    display:block;
    width:100%;
    overflow:hidden
}
.wizard a,.tabcontrol a{
    outline:0
}
.wizard ul,.tabcontrol ul{
    list-style:none!important;
    padding:0;
    margin:0
}
.wizard ul>li,.tabcontrol ul>li{
    display:block;
    padding:0
}
.wizard>.steps .current-info,.tabcontrol>.steps .current-info{
    position:absolute;
    left:-999em
}
.wizard>.content>.title,.tabcontrol>.content>.title{
    position:absolute;
    left:-999em
}
.wizard>.steps{
    position:relative;
    display:block;
    width:100%
}
.wizard.vertical>.steps{
    display:inline;
    float:left;
    width:30%
}
.wizard>.steps .number{
    font-size: 14px;
}
.wizard>.steps>ul>li{
    width:25%
}
.wizard>.steps>ul>li,.wizard>.actions>ul>li{
    float:left
}
.wizard.vertical>.steps>ul>li{
    float:none;
    width:100%
}
.wizard>.steps a,.wizard>.steps a:hover,.wizard>.steps a:active{
    display:block;
    width:auto;
    margin:0 .5em .5em;
	font-size: 12.5px;
    padding: 5px 15px;
    text-decoration:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}
.wizard>.steps .disabled a,.wizard>.steps .disabled a:hover,.wizard>.steps .disabled a:active{
    background:#eee;
    color:#aaa;
    cursor:default
}
.wizard>.steps .current a,.wizard>.steps .current a:hover,.wizard>.steps .current a:active{
    background:#8abd34;
    color:#fff;
    cursor:default
}
.wizard>.steps .done a,.wizard>.steps .done a:hover,.wizard>.steps .done a:active{
    background:#bed498;
    color:#fff
}
.wizard>.steps .error a,.wizard>.steps .error a:hover,.wizard>.steps .error a:active{
    background:#ff3111;
    color:#fff
}
.wizard>.content{
    background:#ffffff;
    display:block;
    margin:.2em;
    min-height: 440px;
    overflow:hidden;
    position:relative;
    width:auto;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}
.wizard.vertical>.content{
    display:inline;
    float:left;
    margin:0 2.5% .5em 2.5%;
    width:65%
}
.wizard>.content>.body{
    float:left;
    /*position:absolute; */
    width:99%;
    height:95%;
   
}
.wizard>.content>.body ul{
    list-style:disc!important
}
.wizard>.content>.body ul>li{
    display:list-item
}
.wizard>.content>.body>iframe{
    border:0 none;
    width:100%;
    height:100%
}
.wizard>.content>.body input{
    display:block;
	margin-bottom: 10px;
}
.wizard>.content>.body input[type="checkbox"]{
    display:inline-block
}
.wizard>.content>.body input.error{
    background:#fbe3e4;
    border:1px solid #fbe3e4;
    color:#8a1f11
}
.wizard>.content>.body label{
    display:inline-block;
    margin-bottom: 3px;
	font-size: 13px;
	font-weight: 400;
}
.wizard>.content>.body label.error{
    color:#8a1f11;
    display:inline-block;
    margin-left:1.5em
}
.wizard>.actions{
    position:relative;
    display:block;
    text-align:right;
    width:100%
}
.wizard.vertical>.actions{
    display:inline;
    float:right;
    margin:0 2.5%;
    width:95%
}
.wizard>.actions>ul{
    display:inline-block;
    text-align:right
}
.wizard>.actions>ul>li{
    margin:0 .5em
}
.wizard.vertical>.actions>ul>li{
    margin:0 0 0 1em
}
.wizard>.actions a,.wizard>.actions a:hover,.wizard>.actions a:active{
    background:#8abd34;
    color:#fff;
    display:block;
    padding:.5em 1em;
    text-decoration:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}
.wizard>.actions .disabled a,.wizard>.actions .disabled a:hover,.wizard>.actions .disabled a:active{
    background:#eee;
    color:#aaa
}
.wizard>.loading{
}
.wizard>.loading .spinner{
}
.tabcontrol>.steps{
    position:relative;
    display:block;
    width:100%
}
.tabcontrol>.steps>ul{
    position:relative;
    margin:6px 0 0 0;
    top:1px;
    z-index:1
}
.tabcontrol>.steps>ul>li{
    float:left;
    margin:5px 2px 0 0;
    padding:1px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px
}
.tabcontrol>.steps>ul>li:hover{
    background:#edecec;
    border:1px solid #bbb;
    padding:0
}
.tabcontrol>.steps>ul>li.current{
    background:#fff;
    border:1px solid #bbb;
    border-bottom:0 none;
    padding:0 0 1px 0;
    margin-top:0
}
.tabcontrol>.steps>ul>li>a{
    color:#5f5f5f;
    display:inline-block;
    border:0 none;
    margin:0;
    padding:10px 30px;
    text-decoration:none
}
.tabcontrol>.steps>ul>li>a:hover{
    text-decoration:none
}
.tabcontrol>.steps>ul>li.current>a{
    padding:15px 30px 10px 30px
}
.tabcontrol>.content{
    position:relative;
    display:inline-block;
    width:100%;
    height:35em;
    overflow:hidden;
    border-top:1px solid #bbb;
    padding-top:20px
}
.tabcontrol>.content>.body{
    float:left;
    position:absolute;
    width:95%;
    height:95%;
    padding:2.5%
}
.tabcontrol>.content>.body ul{
    list-style:disc!important
}
.tabcontrol>.content>.body ul>li{
    display:list-item
}
@media(max-width:600px){
    .wizard>.steps>ul>li{
        width:50%
    }
    .wizard>.steps a,.wizard>.steps a:hover,.wizard>.steps a:active{
        margin-top:.5em
    }
    .wizard.vertical>.steps,.wizard.vertical>.actions{
        display:block;
        float:none;
        width:100%
    }
    .wizard.vertical>.content{
        display:block;
        float:none;
        margin:0 .5em .5em;
        width:auto
    }
}
@media(max-width:480px){
    .wizard>.steps>ul>li{
        width:100%
    }
}
	
	
	

.copyright.text-center{
	margin-top: 30px;
	margin-bottom: 0px;
	color: #ffffff;
}
.copyright.text-center a{
	color: #eda503;
}
.copyright.text-center a:hover{
	color: #ffffff;
}






















